<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">

    {% block links %}
    {% endblock %}

</head>
<body>
    <header class="header">
        <div class="header__inner">
            <nav class="nav">
                <ul>
                    <li><a href="/login" class="nav__link">Главная</a></li>
                    <li><a href="/reqister" class="nav__link">Регистрация</a></li>
                    <li><a href="/login" class="nav__link">Авторизация</a></li>
                    <li><a href="" class="nav__link"></a></li>
                    <li><a href="" class="nav__link"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer"></footer>

    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    
</body>
</html>