{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block links %}

{% endblock %} 

{% block content %}
    <!-- Проверяем, зарегестрировал ли свой профиль ранее пользователь -->
    {% if registered_profile %}        
        <div class="container">
            <h1>Welcome, {{ profile_info.first_name }}</h1>
            <a href="/logout" class="btn">Выйти из аккаунта</a>
        </div>

        <h2>Your profile:</h2>
        <div class="profile_info">
            <h3>First name: {{ profile_info.first_name }}</h3>
            <h3>Last name: {{ profile_info.last_name }}</h3>
            <h3>Phone number: {{ profile_info.phone_number }}</h3>
            <h3>Email: {{ profile_info.email }}</h3>
        </div>

        <!-- Проверяем, какую ссылку вывести пользователю: создать резюме/вакансию. -->
        {% if user.role=='student' %}
            <a href="#" class="btn">Create a resume</a>
        {% endif %}

        {% if user.role=='employer' %}
            <a href="#" class="btn">Create a job</a>
        {% endif %}


    {% else %}
        <div class="container">
            <h1>Hello, {{ username }}</h1>
            <a href="/logout" class="btn">Выйти из аккаунта</a>
        </div>

        <h2>Заполните пожалуйста ваш профиль:</h2>
        <form method="post">
            {{ form.csrf_token }}
            First name: <input type="text" name="first_name">
            <br>
            Last name: <input type="text" name="last_name">
            <br>
            Phone number: <input type="text" name="phone_number">
            <br>
            Email: <input type="text" name="email">
            <br>
            <button class="btn">Save</button>
        </form>
    {% endif %}
{% endblock %}
