{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block links %}

{% endblock %} 

{% block content %}
    <!-- Проверяем, зарегестрировал ли свой профиль ранее пользователь -->
    {% if registered_profile %}        
        <div class="container">
            <h1>Welcome, {{ profile_info.first_name }}</h1>
            <a href="/logout" class="btn">Выйти из аккаунта</a>
        </div>

        <h2>Your profile:</h2>
        <div class="profile_info">
            <h3>First name: {{ profile_info.first_name }}</h3>
            <h3>Last name: {{ profile_info.last_name }}</h3>
            <h3>Phone number: {{ profile_info.phone_number }}</h3>
            <h3>Email: {{ profile_info.email }}</h3>
        </div>

        <br>

        <!-- Проверяем, какую ссылку вывести пользователю: создать резюме/вакансию. -->
        {% if user.role=='student' %}
            <a href="/create_summary" class="btn">Create a summary</a>
            <br>
            <br>
            {% if summary %}
                <!-- Выводим через цикл for все резюме студента. -->
                <h2>Ваши резюме:</h2>
                {% for s in summary %}
                    <h3><a href="">{{ s.title }}</a></h3>
                {% endfor %}
            {% else %}
                <h3>You don't have a summary yet!</h3>
            {% endif %}
        {% endif %}

        {% if user.role=='employer' %}
            <a href="/create_job_vacansy" class="btn">Create a job</a>
            <br>
            <br>
            {% if vacansy %}
                <!-- Выводим через цикл for все вакансий работодателя. -->
                <h2>Ваши вакансий:</h2>
                {% for v in vacansy %}
                    <h3><a href="">{{ v.title }}</a></h3>
                {% endfor %}
            {% else %}
                <h3>You don't have a vacansy yet!</h3>
            {% endif %}
        {% endif %}

    {% else %}
        <div class="container">
            <h1>Hello, {{ username }}</h1>
            <a href="/logout" class="btn">Выйти из аккаунта</a>
        </div>

        <h2>Заполните пожалуйста ваш профиль, чтобы вы могли создать {% if user.role=='student' %}резюме!{% endif %}{% if user.role=='employer' %}вакансию!{% endif %}</h2>
        <form method="post">

            <!-- Выводим ошибки. -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h1>{{ message }}</h1>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {{ form.csrf_token }}
            First name: <input type="text" name="first_name">
            <br>
            Last name: <input type="text" name="last_name">
            <br>
            Phone number: <input type="text" name="phone_number">
            <br>
            Email: <input type="text" name="email">
            <br>
            <button class="btn">Save</button>
        </form>
    {% endif %}
{% endblock %}
